<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{administrativo/fragments/layout}">
<head>

	<meta charset="utf-8">
    <title>Cadastro de Estado</title>
</head>
<body>		

        <!-- Page Content -->
        <section class="layout-content" layout:fragment="corpo">

		<h2 align="center">Cadastro de Estado</h2>
		<br>

		<div class="col-md-4 offset-md-4">
			<div class="form-group" align="justify">
				<form action="adicionarEstado" th:object="${estado}"
					th:action="@{/salvarEstado}" method="post">
					<div class="form-group">
						<label for="exampleInputEmail1">Nome</label> <input type="text"
							class="form-control" th:field="*{nome}" id=""
							aria-describedby="emailHelp" placeholder="Digite o nome">
						<small id="emailHelp" class="form-text text-muted"></small>
					</div>
					<div class="form-group">
						<label for="exampleFormControlInput1">Sigla</label> <input
							type="text" class="form-control" th:field="*{sigla}" id=""
							placeholder="Digite a Sigla">
					</div>
					<input type="hidden" id="id" th:field="*{id}" readOnly="readonly"
						value=""></input>
					<div class="form-group" align="center">
						<button type="submit" class="btn btn-primary">Salvar</button>
						<button type="submit" class="btn btn-secondary">
							<a href="adm" class="text-white">Voltar 
						</button>
					</div>
				</form>
			</div>
		</div>

	</section>        	
  
</body>
</html>
