<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{cliente/fragments/layoutLoja}">
<head>

	<meta charset="utf-8">
    <title>Loja Virtual</title>
</head>
<body>		

        <!-- Page Content -->
	<section class="layout-content" layout:fragment="inicio">	

		<!-- Products tab & slick -->
		<div class="products-tabs">
			<!-- tab -->	
			<div id="tab2" class="tab-pane fade in active">
				<div class="products-slick" data-nav="#slick-nav-2">
					<!-- product -->
					<div class="product" th:each="produto : ${produto}">
						<div class="product-img">
							<img
								th:src="@{/mostrarImagem/{imagem}(imagem=${produto.nomeImagem})}" />
							<div class="product-label">
								<span class="sale">-30%</span> <span class="new">Novo</span>
							</div>
						</div>
						<div class="product-body">
							<p class="product-category"></p>
							<h3 class="product-name">
								<span th:text=${produto.descricao}></span> <a href="#"></a>
							</h3>
							<h4 class="product-price">
								<span th:text=${produto.valorVenda}></span>
							</h4>
							<div class="product-rating">
								<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
									class="fa fa-star"></i> <i class="fa fa-star"></i> <i
									class="fa fa-star"></i>
							</div>
							<div class="product-btns">
								<button class="add-to-wishlist">
									<i class="fa fa-heart-o"></i><span class="tooltipp">add
										Minha Lista</span>
								</button>
								<button class="add-to-compare">
									<i class="fa fa-exchange"></i><span class="tooltipp">add
										no Carrinho</span>
								</button>
								<button class="quick-view">
									<i class="fa fa-eye"></i><span class="tooltipp">
										Visualizar</span>
								</button>
							</div>
						</div>
						<div class="add-to-cart">
							<a class="btn btn-danger" th:href="@{/adicionarCarrinho/{id}(id=${produto.id})}">
								<i class="fa fa-shopping-cart"></i> Adicionar ao Carrinho
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /product -->
		
	</section>

</body>
</html>