<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{administrativo/fragments/layout}">
<head>

	<meta charset="utf-8">
    <title>Cadastro de Estado</title>
</head>
<body>		

        <!-- Page Content -->
        <section class="layout-content" layout:fragment="corpo">
        
       	<!-- Page Content -->
		<h1 class="display-1">Acesso Negado!</h1>
		<p class="lead">
			Você não tem permissão para acessar <a
				href="javascript:history.back()">volte</a> para página anterior, ou
			<a href="/adm/logout">retorne para a página inicial</a>.
		</p>

	</section>        	
  
</body>
</html>
